<table class="table table-striped">

  <thead>
    <tr><th>Status</th><th>Project</th><th>Manager</th><th>Organization</th><th>Updated</th><th>Summary</th></tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= status_indicator(project.overall) %></td>
        <td><%= link_to project.name, project %></td>
        <td><%= project.manager %></td>
        <td><%= project.organization %></td>
        <td><%= I18n.l project.reported_on unless project.reported_on.nil? %></td>
        <td><%= project.current_status_report.summary unless project.current_status_report.nil? %></td>
      </tr>
    <% end %>
  </tbody>
  
</table>