<h1><%= @project.name %></h1>
<%= link_to edit_project_path(@project) do %>
  <i class="icon icon-edit"> </i> Edit
<% end %>

<%= link_to project_path(@project), method: "Delete", data: { confirm: "Are you sure you want to delete this project?" } do %>
  <i class="icon icon-trash"> </i> Delete
<% end %>

<br /><br />
<div class="well">
  <div>Project Manager: <%= @project.manager %></div>
  <div>Organization: <%= @project.organization %></div>
</div>

<%= link_to new_project_status_report_path(@project) do %>
  <i class="icon icon-plus"> </i> New Status Report
<% end %>

<% unless @project.current_status_report.nil? %>
  <h2>Current Status Report</h2>
  <%= render partial: 'status_reports/detail', locals: { status_report: @project.current_status_report }%>
<% end %>

<table class="table table-striped">

  <thead>
    <tr><th>Date</th><th>Overall Status</th><th>Summary</th></tr>
  </thead>

  <tbody>
    <% @project.status_reports.each do |status_report| %>
      <tr>
        <td><%= link_to status_report.reported_on, project_status_report_path(@project, status_report) %></td>
        <td><%= status_report.overall %></td>
        <td><%= status_report.summary %></td>
      </tr>
    <% end %>
  </tbody>
  
</table>