<h1><%= @project.name %></h1>
<%= link_to edit_project_path(@project) do %>
  <i class="icon icon-edit"> </i> Edit
<% end %>

<%= link_to project_path(@project), method: "Delete" do %>
  <i class="icon icon-trash"> </i> Delete
<% end %>

<br /><br />
<div class="well">
  <div>Project Manager: <%= @project.manager %></div>
  <div>Organization: <%= @project.organization %></div>
</div>